:root {
  --primary: #234d63;
  --secondary: #fff;
  --background: #282c34;
}

body {
  margin: 0;
  padding: 0;
  color: var(--secondary);
  background: var(--background);
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pop-up {
  padding: 0.75em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pop-up-header {
  font-size: 2em;
  margin: 0.5em;
}

img {
  width: 48px;
  height: 48px;
}
