:root {
  --primary: #234d63;
  --secondary: #fff;
  --background: #282c34;
}

body {
  margin: 0;
  padding: 0;
  color: var(--secondary);
  background: var(--background);
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  text-align: center;
  margin: 1em;
}

h1 {
  font-weight: 200;
  font-size: 4em;
}

.new-tab {
  padding: 0 5%;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  margin: 0.5em;
  justify-content: center;
}

.list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em;
  margin: 1em;
  width: 200px;
  align-items: center;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
}

.list-item > div + div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.list-item > div + div > div > img {
  width: 32px;
  height: 32px;
}

.sub-header {
  font-size: 2em;
  margin: 0.15em;
  font-weight: 300;
}

.url-container {
  width: 100%;
}

.url-text {
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
  word-wrap: break-word;
}

.url-timestamp {
  text-align: right;
  font-style: italic;
  font-size: 1em;
  font-weight: 300;
  word-wrap: break-word;
}

.favorites-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.favorites-item {
  display: flex;
  margin: 1.5em;
  padding: 0.75em;
  box-shadow: none;
  transition: box-shadow 1s ease;
}

.favorites-item:hover {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3), 0 -1px 5px 0 rgba(0, 0, 0, 0.3);
}

.input-field-container {
  display: flex;
  justify-content: center;
}

.input-field {
  border: none;
  border-bottom: 1px solid var(--secondary);
  background: transparent;
  font-size: 1.5em;
  color: var(--secondary);
  text-align: center;
}

.input-field:focus {
  outline: none;
}
